<section>
    <div class=" container row">
      <div class="ml-5 col-md-6">
        <h2 class="text-center mt-5">Edit User</h2>
       
        <form action="/admin/submitadduser" method="post">
            
            
                <label >Name</label>
                <input type="text" name="name" class="form-control" >
        
                <label >Email</label>
                <input type="text" name="email" class="form-control" >

                <label >Password</label>
                <input type="password" name="password" class="form-control"  >
        
        
                
                <button  type="submit" class="btn btn-success mt-4">Submit</button>
        
        </form>
      </div>
    </div>
  </section>